<div class="docu-color-list">
    {{#each this}}
        <div class="docu-color-group">
            <div class="docu-color-group-name">{{shadowName}}</div>
            <div class="docu-color-row">
                <div>
                    <ul>
                        <li> l-l : <span class="font-l-l {{shadowCSSClass}}" style="color:white;">The Quick Brown Fox Jumped Over the Laxy Dog</span>
                        <li> XS : <span class="font-xs {{shadowCSSClass}}" style="color:white;">The Quick Brown Fox Jumped Over the Laxy Dog</span>
                        <li> M : <span class="font-m {{shadowCSSClass}}" style="color:white;">The Quick Brown Fox Jumped Over the Laxy Dog</span>
                        <li> L : <span class="font-l {{shadowCSSClass}}" style="color:white;">The Quick Brown Fox Jumped Over the Laxy Dog</span>
                        <li> XS-xb : <span class="font-xs-sb {{shadowCSSClass}}" style="color:white;">The Quick Brown Fox Jumped Over the Laxy Dog</span>
                        <li> XL-xb : <span class="font-xl-sb {{shadowCSSClass}}" style="color:white;">The Quick Brown Fox Jumped Over the Laxy Dog</span>
                        <li> XXL-xb : <span class="font-xxl-sb {{shadowCSSClass}}" style="color:white;">The Quick Brown Fox Jumped Over the Laxy Dog</span>
                    </ul>
                </div>
                <div class="docu-details">
                    <div class="docu-color-name">SASS: .{{shadowCSSClass}}</div>
                    <div><span class="{{shadowCSSClass}}-value-blur">Blur: </span>
                        <span class="{{shadowCSSClass}}-value-size">Size: </span>
                    </div>
                    <div class="{{shadowCSSClass}}-value-offset">Offset:</div>
                    <div class="{{shadowCSSClass}}-value-opacity">Opacity:</div>
                    {{#if text}}
                        <div class="docu-color-text">{{text}}</div>{{/if~}}
                </div>
            </div>
        </div>
    {{/each}}
    <div class="clearfix"></div>
</div>