<p>Please Note The HTML in this section is purely for the Style Guide and colors should not be referenced directly from HTML under normal usage.</p>
<div class="docu-color-list">
    {{#each this}}
    <div class="docu-color-group">
        <div class="docu-color-group-name">{{groupName}}</div>

        {{#each colors}}
        <div class="docu-color-row">
            <div class="docu-color {{colorCSSClass}}"></div>
            <div class="docu-details">
                <div class="{{colorCSSClass}}-value"> Value:</div>
                <div class="docu-color-name">SASS: ${{colorCSSClass}}</div>
                {{#if text}}<div class="docu-color-text">{{text}}</div>{{/if~}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
    <div style="clear: both"></div>
</div>
